<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636979746198-i12964u21k1ok7pdb6l52qhkl0q9f57d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636979746198-i12964u21k1ok7pdb6l52qhkl0q9f57d</string>
	<key>API_KEY</key>
	<string>AIzaSyBBs10ytNllvCmmjj4HyZDTwMiwPf55ifg</string>
	<key>GCM_SENDER_ID</key>
	<string>636979746198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rista.app</string>
	<key>PROJECT_ID</key>
	<string>ristasa-ok</string>
	<key>STORAGE_BUCKET</key>
	<string>ristasa-ok.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636979746198:ios:c3009886f3acc7ef50f9b7</string>
	<key>DATABASE_URL</key>
	<string>https://ristasa-ok.firebaseio.com</string>
</dict>
</plist>